.login{
    color: black;
    background-color: rgb(245, 240, 240);
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border-radius: 20px;
    margin-top: 50px;
}

.createAccountArea{
    width: 400px;
}
.inputBatton{
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    color: black;
    background-color: yellow;
    border: none;
    margin-top: 20px;
}
button{
    border: none;
}